{% extends 'base.html' %}
{% block loaders %}
{% load static %}
{% endblock %}
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
.fa-check{
  color: green;
  font-size: 25px;
}
.heading{
  padding: 10px;
  font-size: 25px;
}
.fa-close{
  color: red;
  font-size: 25px;
}
.fa-clock-o{
  color: orange;
  font-size: 25px;
}
.head_item{
  padding-left: 70px;
}
.btn1 {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn1:hover {
  background-color: RoyalBlue;
}
</style>
{% endblock %}
{% block body %}
  <!-- Codebase -->
<div class="container">
  <div class="row">
    <div class="col-md-6 head_item">
              <b class="heading">Codebase</b>
        {% if report.Codebase.0 == 'valid' %}
          <i class="fa fa-check" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-close" aria-hidden="true"></i>
        {% endif %}

        <br/>
        <b class="heading">Depenedencies</b>
        {% if report.Dependency.0 == 'valid' %}
          <i class="fa fa-check" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-close" aria-hidden="true"></i>
        {% endif %}
        <br/>
         <b class="heading">Configurations</b>
        {% if report.Configuration.0 == 'Valid' %}
          <i class="fa fa-check" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-close" aria-hidden="true"></i>
        {% endif %}
        <br/>
         <b class="heading">Backing services</b>
        {% if report.BackingServices.0 == 'valid' %}
          <i class="fa fa-check" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-close" aria-hidden="true"></i>
        {% endif %}
        <br/>
         <b class="heading">Build, Test, Release</b>
        {% if report.BuildTestRelease.0 == 'valid' %}
          <i class="fa fa-check" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-close" aria-hidden="true"></i>
        {% endif %}
        <br/>
         <b class="heading">Processes</b>
       
          <i class="fa fa-clock-o" aria-hidden="true"></i>
      
       <br/>
        <b class="heading">Port binding</b>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <br/>
        <b class="heading">Concurrency</b>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
         <br/>
        <b class="heading">Disposability</b>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
          <br/>
        <b class="heading">Dev/Prod Parity</b>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <br/>
        <b class="heading">Logging</b>
      
        {% if report.Logging.0 == 'valid' %}
          <i class="fa fa-check" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-close" aria-hidden="true"></i>
        {% endif %}
       <br/> 
         <b class="heading">Admin</b>
       <i class="fa fa-clock-o" aria-hidden="true"></i>
</div>
<div class="col-md-5">
  <center>
  <button class="btn btn1"><i class="fa fa-download"></i><a href="{{ folder_name }}/report.pdf" style="text-decoration:none;color:white">Download Report</a> </button>
</center>
</div>

  
{% endblock %}